### Project Explanation

In this project I have 2 CSVs
* routes.csv
    * Contains all airplane routes from a single year
* airports.csv
    * Contains all worldwide airports

The goal of this project is to mimic a route optimization model where a user can specify: 
* Starting point
* Ending point
* Time constraint

### Notebook Setup

In [139]:
# pip install graphdatascience
import numpy as np 
import pandas as pd
import collections
import os
import math
from itertools import permutations
import itertools
from neo4j import GraphDatabase

pd.set_option('display.width', 0)
pd.set_option('display.max_colwidth', 500)
pd.set_option('display.max_rows', 50)

### Neo4j Settings

In [66]:
from graphdatascience import GraphDataScience

HOST = 'neo4j+s://xxxx.databases.neo4j.io'
USERNAME = 'neo4j'
PASSWORD = 'password'

# Use Neo4j URI and credentials according to your setup
gds = GraphDataScience(HOST, auth=(USERNAME, PASSWORD), aura_ds=True)

driver = GraphDatabase.driver(uri=HOST,auth=(USERNAME, PASSWORD))

### Part 1: Explore Data & Data Cleaning

In [4]:
# Import route data
route_cols = ['airline', 'airlineID', 'source', 'sourceAirportID',
              'dest', 'destAirportID', 'codeshare', 'stops', 'equipment']
routes_df = pd.read_csv("routes.csv", skiprows=1, names = route_cols)
routes_df['sourceAirportID'] = pd.to_numeric(routes_df['sourceAirportID'].astype(str), 'coerce')
routes_df['destAirportID'] = pd.to_numeric(routes_df['destAirportID'].astype(str), 'coerce')
    
print(routes_df.shape)
routes_df.head()

(67663, 9)

,airline,airlineID,source,sourceAirportID,dest,destAirportID,codeshare,stops,equipment
0,2B,410,AER,2965.0,KZN,2990.0,NaN,0,CR2
1,2B,410,ASF,2966.0,KZN,2990.0,NaN,0,CR2
2,2B,410,ASF,2966.0,MRV,2962.0,NaN,0,CR2
3,2B,410,CEK,2968.0,KZN,2990.0,NaN,0,CR2
4,2B,410,CEK,2968.0,OVB,4078.0,NaN,0,CR2

In [6]:
# Data stats
print(routes_df.shape)
print(routes_df.head())
print(routes_df.isna().sum())
print(routes_df['stops'].value_counts())
routes_df.describe(include='all')

(67663, 9)
  airline airlineID source  sourceAirportID dest  destAirportID codeshare  \
0      2B       410    AER           2965.0  KZN         2990.0       NaN
1      2B       410    ASF           2966.0  KZN         2990.0       NaN
2      2B       410    ASF           2966.0  MRV         2962.0       NaN
3      2B       410    CEK           2968.0  KZN         2990.0       NaN
4      2B       410    CEK           2968.0  OVB         4078.0       NaN

   stops equipment
0      0       CR2
1      0       CR2
2      0       CR2
3      0       CR2
4      0       CR2
airline                0
airlineID              0
source                 0
sourceAirportID      220
dest                   0
destAirportID        221
codeshare          53066
stops                  0
equipment             18
dtype: int64
0    67652
1       11
Name: stops, dtype: int64

,airline,airlineID,source,sourceAirportID,dest,destAirportID,codeshare,stops,equipment
count,67663,67663,67663,67443.000000,67663,67442.000000,14597,67663.000000,67645
unique,568,548,3409,NaN,3418,NaN,1,NaN,3945
top,FR,4296,ATL,NaN,ATL,NaN,Y,NaN,320
freq,2484,2484,915,NaN,911,NaN,14597,NaN,9180
mean,NaN,NaN,NaN,2693.690079,NaN,2695.737760,NaN,0.000163,NaN
std,NaN,NaN,NaN,1672.391798,NaN,1673.306719,NaN,0.012749,NaN
min,NaN,NaN,NaN,1.000000,NaN,1.000000,NaN,0.000000,NaN
25%,NaN,NaN,NaN,1382.000000,NaN,1382.000000,NaN,0.000000,NaN
50%,NaN,NaN,NaN,2964.000000,NaN,2964.500000,NaN,0.000000,NaN
75%,NaN,NaN,NaN,3670.000000,NaN,3670.000000,NaN,0.000000,NaN
max,NaN,NaN,NaN,11922.000000,NaN,11922.000000,NaN,1.000000,NaN

In [7]:
routes_df.head()

,airline,airlineID,source,sourceAirportID,dest,destAirportID,codeshare,stops,equipment
0,2B,410,AER,2965.0,KZN,2990.0,NaN,0,CR2
1,2B,410,ASF,2966.0,KZN,2990.0,NaN,0,CR2
2,2B,410,ASF,2966.0,MRV,2962.0,NaN,0,CR2
3,2B,410,CEK,2968.0,KZN,2990.0,NaN,0,CR2
4,2B,410,CEK,2968.0,OVB,4078.0,NaN,0,CR2

In [8]:
routes_df_explore = routes_df
routes_df_explore['source_dest'] = routes_df_explore['source'] + routes_df_explore['dest']
routes_df_explore['source_dest'].value_counts().head()

ORDATL    20
ATLORD    19
ORDMSY    13
HKTBKK    13
HKGBKK    12
Name: source_dest, dtype: int64

As you can see above that we do in fact have repeat trips in this dataset. This means we will need to give each flight an ID to create new trip relationships.

In [9]:
# Create ID column
routes_df['flightID'] = routes_df.index +1
routes_df.head()

,airline,airlineID,source,sourceAirportID,dest,destAirportID,codeshare,stops,equipment,source_dest,flightID
0,2B,410,AER,2965.0,KZN,2990.0,NaN,0,CR2,AERKZN,1
1,2B,410,ASF,2966.0,KZN,2990.0,NaN,0,CR2,ASFKZN,2
2,2B,410,ASF,2966.0,MRV,2962.0,NaN,0,CR2,ASFMRV,3
3,2B,410,CEK,2968.0,KZN,2990.0,NaN,0,CR2,CEKKZN,4
4,2B,410,CEK,2968.0,OVB,4078.0,NaN,0,CR2,CEKOVB,5

In [10]:
# Import airport data
airport_df = pd.read_csv("airports.csv")

In [11]:
# Data stats
print(airport_df.shape)
print(airport_df.head())
print(airport_df.isna().sum())
airport_df.describe(include='all')

(7698, 14)
   Airport ID                                         Name          City  \
0           1                               Goroka Airport        Goroka
1           2                               Madang Airport        Madang
2           3                 Mount Hagen Kagamuga Airport   Mount Hagen
3           4                               Nadzab Airport        Nadzab
4           5  Port Moresby Jacksons International Airport  Port Moresby

            Country IATA  ICAO  Latitude   Longitude  Altitude Timezone DST  \
0  Papua New Guinea  GKA  AYGA -6.081690  145.391998      5282       10   U
1  Papua New Guinea  MAG  AYMD -5.207080  145.789001        20       10   U
2  Papua New Guinea  HGU  AYMH -5.826790  144.296005      5388       10   U
3  Papua New Guinea  LAE  AYNZ -6.569803  146.725977       239       10   U
4  Papua New Guinea  POM  AYPY -9.443380  147.220001       146       10   U

      Database Timezone     Type       Source
0  Pacific/Port_Moresby  airport  OurAirports
1  Pacific/Port_Moresby  airport  OurAirports
2  Pacific/Port_Moresby  airport  OurAirports
3  Pacific/Port_Moresby  airport  OurAirports
4  Pacific/Port_Moresby  airport  OurAirports
Airport ID            0
Name                  0
City                 49
Country               0
IATA                  0
ICAO                  0
Latitude              0
Longitude             0
Altitude              0
Timezone              0
DST                   0
Database Timezone     0
Type                  0
Source                0
dtype: int64

,Airport ID,Name,City,Country,IATA,ICAO,Latitude,Longitude,Altitude,Timezone,DST,Database Timezone,Type,Source
count,7698.000000,7698,7649,7698,7698,7698,7698.000000,7698.000000,7698.000000,7698,7698,7698,7698,7698
unique,NaN,7658,6955,237,6073,7698,NaN,NaN,NaN,41,8,308,1,1
top,NaN,San Pedro Airport,London,United States,\N,AYGA,NaN,NaN,NaN,1,U,\N,airport,OurAirports
freq,NaN,3,9,1512,1626,1,NaN,NaN,NaN,1184,1862,1021,7698,7698
mean,5170.950117,NaN,NaN,NaN,NaN,NaN,25.808442,-1.390546,1015.873344,NaN,NaN,NaN,NaN,NaN
std,3777.259930,NaN,NaN,NaN,NaN,NaN,28.404946,86.519162,1628.775132,NaN,NaN,NaN,NaN,NaN
min,1.000000,NaN,NaN,NaN,NaN,NaN,-90.000000,-179.876999,-1266.000000,NaN,NaN,NaN,NaN,NaN
25%,1993.250000,NaN,NaN,NaN,NaN,NaN,6.907983,-78.974699,63.000000,NaN,NaN,NaN,NaN,NaN
50%,4068.000000,NaN,NaN,NaN,NaN,NaN,34.085701,6.375653,352.000000,NaN,NaN,NaN,NaN,NaN
75%,7728.750000,NaN,NaN,NaN,NaN,NaN,47.239551,56.000599,1203.000000,NaN,NaN,NaN,NaN,NaN
max,14110.000000,NaN,NaN,NaN,NaN,NaN,89.500000,179.951004,14472.000000,NaN,NaN,NaN,NaN,NaN

In [12]:
# Drop airport that don't have IATA data
airport_df = airport_df[airport_df.IATA != '\\N']
print(airport_df.shape)
airport_df.tail()

(6072, 14)

,Airport ID,Name,City,Country,IATA,ICAO,Latitude,Longitude,Altitude,Timezone,DST,Database Timezone,Type,Source
7684,14097,Bilogai-Sugapa Airport,Sugapa-Papua Island,Indonesia,UGU,WABV,-3.739560,137.031998,7348,\N,\N,\N,airport,OurAirports
7687,14100,Ramon Airport,Eilat,Israel,ETM,LLER,29.723694,35.011416,288,\N,\N,\N,airport,OurAirports
7688,14101,Rustaq Airport,Al Masna'ah,Oman,MNH,OORQ,23.640556,57.487500,349,\N,\N,\N,airport,OurAirports
7689,14102,Laguindingan Airport,Cagayan de Oro City,Philippines,CGY,RPMY,8.612203,124.456496,190,\N,\N,\N,airport,OurAirports
7696,14109,Desierto de Atacama Airport,Copiapo,Chile,CPO,SCAT,-27.261200,-70.779198,670,\N,\N,\N,airport,OurAirports

In [13]:
# make new route df with route count info
routes_all = pd.DataFrame(routes_df.groupby(['source', 'dest']).size().reset_index(name='counts'))

airport_all = airport_df[['Name','City','Country','Latitude', 'Longitude', 'IATA']]
IATA_array = airport_all["IATA"].tolist()

In [14]:
airport_all.head()

,Name,City,Country,Latitude,Longitude,IATA
0,Goroka Airport,Goroka,Papua New Guinea,-6.081690,145.391998,GKA
1,Madang Airport,Madang,Papua New Guinea,-5.207080,145.789001,MAG
2,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,-5.826790,144.296005,HGU
3,Nadzab Airport,Nadzab,Papua New Guinea,-6.569803,146.725977,LAE
4,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,-9.443380,147.220001,POM

In [15]:
# only keep route with airports that have IATA code
routes_all = routes_all[routes_all['source'].isin(IATA_array)]
routes_all = routes_all[routes_all['dest'].isin(IATA_array)]

In [16]:
# only keep route with airports that have IATA code
routes_df = routes_df[routes_df['source'].isin(IATA_array)]
routes_df = routes_df[routes_df['dest'].isin(IATA_array)]
print(routes_df.shape)
routes_df.head()

(66934, 11)

,airline,airlineID,source,sourceAirportID,dest,destAirportID,codeshare,stops,equipment,source_dest,flightID
0,2B,410,AER,2965.0,KZN,2990.0,NaN,0,CR2,AERKZN,1
1,2B,410,ASF,2966.0,KZN,2990.0,NaN,0,CR2,ASFKZN,2
2,2B,410,ASF,2966.0,MRV,2962.0,NaN,0,CR2,ASFMRV,3
3,2B,410,CEK,2968.0,KZN,2990.0,NaN,0,CR2,CEKKZN,4
4,2B,410,CEK,2968.0,OVB,4078.0,NaN,0,CR2,CEKOVB,5

In [17]:
airport_df.head()

,Airport ID,Name,City,Country,IATA,ICAO,Latitude,Longitude,Altitude,Timezone,DST,Database Timezone,Type,Source
0,1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081690,145.391998,5282,10,U,Pacific/Port_Moresby,airport,OurAirports
1,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.207080,145.789001,20,10,U,Pacific/Port_Moresby,airport,OurAirports
2,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005,5388,10,U,Pacific/Port_Moresby,airport,OurAirports
3,4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977,239,10,U,Pacific/Port_Moresby,airport,OurAirports
4,5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443380,147.220001,146,10,U,Pacific/Port_Moresby,airport,OurAirports

In [18]:
# Get the dataframe to calculate distance for all routes
lat_long_df = routes_df[['source', 'dest']]
merge_df = pd.merge(lat_long_df, airport_df[['IATA', 'Latitude', 'Longitude']], left_on = 'source', right_on = 'IATA')
merge_df = merge_df.rename(columns = {'Latitude': 'source_lat', 'Longitude': 'source_long'})
merge_df_2 = pd.merge(merge_df, airport_df[['IATA', 'Latitude', 'Longitude']], left_on = 'dest', right_on = 'IATA')
merge_df_2 = merge_df_2.rename(columns = {'Latitude': 'dest_lat', 'Longitude': 'dest_long'})
lat_long_df = merge_df_2.drop(['IATA_x', 'IATA_y'], axis = 1)
lat_long_df.head()

  source dest  source_lat  source_long   dest_lat  dest_long
0    AER  KZN   43.449902    39.956600  55.606201  49.278702
1    ASF  KZN   46.283298    48.006302  55.606201  49.278702
2    CEK  KZN   55.305801    61.503300  55.606201  49.278702
3    DME  KZN   55.408798    37.906300  55.606201  49.278702
4    DME  KZN   55.408798    37.906300  55.606201  49.278702

In [19]:
# add distance column
distances = []

for index, row in lat_long_df.iterrows():
    R = 6371
    phi1 = math.radians(row['source_lat'])
    phi2 = math.radians(row['dest_lat'])
    delta_phi = math.radians(row['dest_lat'] - row['source_lat'])
    delta_lambda = math.radians(row['dest_long'] - row['source_long'])
    a = math.sin(delta_phi / 2) ** 2 + math.cos(phi1) * math.cos(phi2) * math.sin(delta_lambda / 2) ** 2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    distance = R * c
    distance = round(distance * 0.621371,1)
    distances.append(distance)

lat_long_df['distance'] = distances
lat_long_df['source_dest'] = lat_long_df['source'] + lat_long_df['dest']

lat_long_df.head()
lat_long_df_dup = lat_long_df.drop_duplicates()

In [20]:
# Add distance column to routes_df
routes_df = pd.merge(routes_df, lat_long_df_dup[['source_dest', 'distance']], left_on = 'source_dest', right_on = 'source_dest')
print(routes_df.shape)
routes_df.head()

(66934, 12)

,airline,airlineID,source,sourceAirportID,dest,destAirportID,codeshare,stops,equipment,source_dest,flightID,distance
0,2B,410,AER,2965.0,KZN,2990.0,NaN,0,CR2,AERKZN,1,936.3
1,2B,410,ASF,2966.0,KZN,2990.0,NaN,0,CR2,ASFKZN,2,646.5
2,2B,410,ASF,2966.0,MRV,2962.0,NaN,0,CR2,ASFMRV,3,278.5
3,2B,410,CEK,2968.0,KZN,2990.0,NaN,0,CR2,CEKKZN,4,478.8
4,2B,410,CEK,2968.0,OVB,4078.0,NaN,0,CR2,CEKOVB,5,831.8

In [21]:
# Add a revenue column (value) - assuming $0.70/mile
routes_df['value'] = routes_df['distance'] * 0.70
routes_df.head()

,airline,airlineID,source,sourceAirportID,dest,destAirportID,codeshare,stops,equipment,source_dest,flightID,distance,value
0,2B,410,AER,2965.0,KZN,2990.0,NaN,0,CR2,AERKZN,1,936.3,655.41
1,2B,410,ASF,2966.0,KZN,2990.0,NaN,0,CR2,ASFKZN,2,646.5,452.55
2,2B,410,ASF,2966.0,MRV,2962.0,NaN,0,CR2,ASFMRV,3,278.5,194.95
3,2B,410,CEK,2968.0,KZN,2990.0,NaN,0,CR2,CEKKZN,4,478.8,335.16
4,2B,410,CEK,2968.0,OVB,4078.0,NaN,0,CR2,CEKOVB,5,831.8,582.26

In [22]:
# Add a time cost for route value - assuming average speed of 500 MPH
routes_df['duration'] = routes_df['distance'] / 500
routes_df.head()

,airline,airlineID,source,sourceAirportID,dest,destAirportID,codeshare,stops,equipment,source_dest,flightID,distance,value,duration
0,2B,410,AER,2965.0,KZN,2990.0,NaN,0,CR2,AERKZN,1,936.3,655.41,1.8726
1,2B,410,ASF,2966.0,KZN,2990.0,NaN,0,CR2,ASFKZN,2,646.5,452.55,1.2930
2,2B,410,ASF,2966.0,MRV,2962.0,NaN,0,CR2,ASFMRV,3,278.5,194.95,0.5570
3,2B,410,CEK,2968.0,KZN,2990.0,NaN,0,CR2,CEKKZN,4,478.8,335.16,0.9576
4,2B,410,CEK,2968.0,OVB,4078.0,NaN,0,CR2,CEKOVB,5,831.8,582.26,1.6636

In [23]:
routes_df.shape

(66934, 14)

### Part 2: Load Data into Graph

In [24]:
# Loading airports into graph
gds.run_cypher('''
    UNWIND $airports as line
    MERGE (a:Airport {code: line.IATA})
    ON CREATE SET 
        a.name = line.Name, 
        a.city = line.City, 
        a.country = line.Country, 
        a.latitude = line.Latitude, 
        a.longitude = line.Longitude
''',
params = {'airports': airport_df.to_dict(orient='records')}
)

Empty DataFrame
Columns: []
Index: []

In [25]:
# Load flights into graph
gds.run_cypher('''
    UNWIND $routes as line
    MATCH (source:Airport {code: line.source})
    MATCH (destination:Airport {code: line.dest})
    WHERE source.code = line.source
    AND destination.code = line.dest
    MERGE (source)-[f:FLEW_TO {id: line.flightID}]->(destination)
    ON CREATE SET
        f.airline = line.airline,
        f.airlineID = line.airlineID,
        f.distance = line.distance,
        f.value = line.value,
        f.duration = line.duration
''',
params = {'routes': routes_df.to_dict(orient='records')}
)

Empty DataFrame
Columns: []
Index: []

### Part 3: Graph Data Science

#### Shortest Path with Distance

In [43]:
# Create projection to find shortest path with distance
# Used the aggregation of 'MIN' to get the paths into a single

gds.run_cypher('''
    CALL gds.graph.project(
        'shortestPathGraph',
        'Airport',
        {
            FLEW_TO: {
                properties:{
                    distance: {
                        aggregation: 'MIN'
                    }
                }
            }
        }
    )
    YIELD
        graphName AS graph,
        relationshipProjection AS readProjection,
        nodeCount AS nodes,
        relationshipCount AS rels
''')

ClientError: {code: Neo.ClientError.Procedure.ProcedureCallFailed} {message: Failed to invoke procedure `gds.graph.project`: Caused by: java.lang.IllegalArgumentException: A graph with name 'shortestPathGraph' already exists.}

In [27]:
# Looking at the shortest path between DFW and YYZ
# Using yens to get the top 5 shortest paths between the two
gds.run_cypher('''
    MATCH (source:Airport {code: 'DFW'}), (dest:Airport {code: 'YYZ'})
    CALL gds.shortestPath.yens.stream('shortestPathGraph',{
        sourceNode: source,
        targetNode: dest,
        k: 5,
        relationshipWeightProperty: 'distance'
    })
    YIELD index, sourceNode, targetNode, totalCost, nodeIds, costs, path
    RETURN
        index,
        gds.util.asNode(sourceNode).name AS sourceNodeName,
        gds.util.asNode(targetNode).name AS targetNodeName,
        totalCost AS totalDistance,
        [nodeId IN nodeIds | gds.util.asNode(nodeId).code] AS nodeNames,
        costs as distances
    ORDER BY index 
''')

,index,sourceNodeName,targetNodeName,totalDistance,nodeNames,distances
0,0,Dallas Fort Worth International Airport,Lester B. Pearson International Airport,1198.3,"[DFW, YYZ]","[0.0, 1198.3]"
1,1,Dallas Fort Worth International Airport,Lester B. Pearson International Airport,1199.5,"[DFW, DTW, YYZ]","[0.0, 985.8, 1199.5]"
2,2,Dallas Fort Worth International Airport,Lester B. Pearson International Airport,1199.7,"[DFW, IND, YYZ]","[0.0, 760.6, 1199.7]"
3,3,Dallas Fort Worth International Airport,Lester B. Pearson International Airport,1200.0,"[DFW, FWA, DTW, YYZ]","[0.0, 858.5, 986.3, 1200.0]"
4,4,Dallas Fort Worth International Airport,Lester B. Pearson International Airport,1203.2,"[DFW, STL, YYZ]","[0.0, 550.1, 1203.2]"

This is interesting to see the shortest path in terms of distance but for this use case we are trying to maximize revenue subject to a time constraint. 

We need to add the following to the model:
* A revenue value for each route
* A time cost for each route
* The ability to string together routes since multiple legs will be desired

In [28]:
# Adding in value and duration as items in the results
gds.run_cypher('''
    MATCH (source:Airport {code: 'DFW'}), (dest:Airport {code: 'YYZ'})
    CALL gds.shortestPath.yens.stream('shortestPathGraph',{
        sourceNode: source,
        targetNode: dest,
        k: 5,
        relationshipWeightProperty: 'distance'
    })
    YIELD index, sourceNode, targetNode, totalCost, nodeIds, costs, path
    WITH index, sourceNode, targetNode, totalCost, nodeIds, costs, path
    UNWIND relationships(path) as r
    WITH index, sourceNode, targetNode, totalCost, nodeIds, costs, r
    MATCH (n)-[f:FLEW_TO]->(m)
    WHERE n.code = startNode(r).code AND m.code = endNode(r).code
    RETURN
        index,
        gds.util.asNode(sourceNode).name AS sourceNodeName,
        gds.util.asNode(targetNode).name AS targetNodeName,
        totalCost AS totalDistance,
        [nodeId IN nodeIds | gds.util.asNode(nodeId).code] AS nodeNames,
        costs as distances,
        ROUND(SUM(DISTINCT(f.value)), 2) AS value,
        ROUND(SUM(DISTINCT(f.duration)), 3) AS duration
    ORDER BY index
''')

,index,sourceNodeName,targetNodeName,totalDistance,nodeNames,distances,value,duration
0,0,Dallas Fort Worth International Airport,Lester B. Pearson International Airport,1198.3,"[DFW, YYZ]","[0.0, 1198.3]",838.81,2.397
1,1,Dallas Fort Worth International Airport,Lester B. Pearson International Airport,1199.5,"[DFW, DTW, YYZ]","[0.0, 985.8, 1199.5]",839.65,2.399
2,2,Dallas Fort Worth International Airport,Lester B. Pearson International Airport,1199.7,"[DFW, IND, YYZ]","[0.0, 760.6, 1199.7]",839.79,2.399
3,3,Dallas Fort Worth International Airport,Lester B. Pearson International Airport,1200.0,"[DFW, FWA, DTW, YYZ]","[0.0, 858.5, 986.3, 1200.0]",840.00,2.400
4,4,Dallas Fort Worth International Airport,Lester B. Pearson International Airport,1203.2,"[DFW, STL, YYZ]","[0.0, 550.1, 1203.2]",842.24,2.406

### Part 4: Adding the ability to add stops

In [282]:
# Get all possible paths with starting at DFW and with the input destinations

airports = ['IAH', 'YYZ', 'AMS']
permutations_list = list(permutations(airports))

orders = []

for order in permutations_list:
    orders.append(list(('DFW',) + order))

print(orders)

[['DFW', 'IAH', 'YYZ', 'AMS'], ['DFW', 'IAH', 'AMS', 'YYZ'], ['DFW', 'YYZ', 'IAH', 'AMS'], ['DFW', 'YYZ', 'AMS', 'IAH'], ['DFW', 'AMS', 'IAH', 'YYZ'], ['DFW', 'AMS', 'YYZ', 'IAH']]

In [283]:
# Get all the adjacent pairs - source and dest but in a single list

paths = []

for order in orders:
    path = []
    for i in range(len(order) - 1):
        pair = [order[i], order[i + 1]]
        path.append(pair)
    paths.append(path)

print(paths)

[[['DFW', 'IAH'], ['IAH', 'YYZ'], ['YYZ', 'AMS']], [['DFW', 'IAH'], ['IAH', 'AMS'], ['AMS', 'YYZ']], [['DFW', 'YYZ'], ['YYZ', 'IAH'], ['IAH', 'AMS']], [['DFW', 'YYZ'], ['YYZ', 'AMS'], ['AMS', 'IAH']], [['DFW', 'AMS'], ['AMS', 'IAH'], ['IAH', 'YYZ']], [['DFW', 'AMS'], ['AMS', 'YYZ'], ['YYZ', 'IAH']]]

In [284]:
# Loop through all possible routes and find shortest paths between them
dataframes = []

for j in range(len(paths)):
    for i in range(len(paths[0])):
        source = paths[j][i][0]
        dest = paths[j][i][1]
        result = gds.run_cypher('''
            MATCH (source:Airport {code: $source}), (dest:Airport {code: $dest})
            CALL gds.shortestPath.yens.stream('shortestPathGraph',{
                sourceNode: source,
                targetNode: dest,
                k: 5,
                relationshipWeightProperty: 'distance'
            })
            YIELD index, sourceNode, targetNode, totalCost, nodeIds, costs, path
            WITH index, sourceNode, targetNode, totalCost, nodeIds, costs, path
            UNWIND relationships(path) as r
            WITH index, sourceNode, targetNode, totalCost, nodeIds, costs, path, r
            MATCH (n)-[f:FLEW_TO]->(m)
            WHERE n.code = startNode(r).code AND m.code = endNode(r).code
            RETURN
                totalCost AS totalDistance,
                [nodeId IN nodeIds | gds.util.asNode(nodeId).code] AS nodeNames,
                ROUND(SUM(DISTINCT(f.value)), 2) AS value,
                ROUND(SUM(DISTINCT(f.duration)), 3) AS duration
        ''', 
        params = {'source': source, 'dest': dest}
        )

        # Convert the result into a pandas dataframe
        df = pd.DataFrame(result, columns=['totalDistance', 'nodeNames', 'value', 'duration'])
        
        df['path'] = [paths[j]] * len(df)
        
        # Append the dataframe to the list
        dataframes.append(df)

print(len(dataframes))

18

In [289]:
# loop through dataframes and create a single dataframe
dfRoutes = pd.DataFrame(columns = ['totalDistance', 'nodeNames', 'value', 'duration', 'path','leg'])

# Create dataframes dynamically in a loop
for i in range(len(dataframes)):
    dfRoutes = dfRoutes.append(dataframes[i], ignore_index=True)

# adding legs for later use
for i in range(len(dfRoutes)):
    dfRoutes['leg'][i] = dfRoutes['path'].iloc[i].index([dfRoutes['nodeNames'].str[0][i], dfRoutes['nodeNames'].str[-1][i]])

/var/folders/mw/9f7kv7cd08qdvjsx2b2s6gt80000gq/T/ipykernel_66372/4180818434.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dfRoutes = dfRoutes.append(dataframes[i], ignore_index=True)

In [290]:
# making a dataframe based on the results - this is automated so you can add as many stops as you want
df = dfRoutes

# Convert 'path' column to a tuple of tuples to make it hashable
df['path_tuple'] = df['path'].apply(lambda x: tuple(tuple(i) for i in x))

# Group by 'path_tuple' first, then 'leg' within each path group
path_groups = df.groupby('path_tuple')

results = []

# Iterate over each path group
for path_tuple, group in path_groups:
    # Group by 'leg' within this path
    legs_grouped = [leg_group for _, leg_group in group.groupby('leg')]
    
    # Generate all combinations of rows across the different leg groups for this path
    combinations = list(itertools.product(*[leg_group.itertuples(index=False) for leg_group in legs_grouped]))
    
    # Calculate totals for each combination within this path
    for combo in combinations:
        totalDistance = sum(item.totalDistance for item in combo)
        totalValue = sum(item.value for item in combo)
        totalDuration = sum(item.duration for item in combo)
        combined_nodeNames = [item.nodeNames for item in combo]
        
        results.append({
            'totalDistance': totalDistance,
            'totalValue': totalValue,
            'totalDuration': totalDuration,
            'nodeNames': combined_nodeNames,
            'path': [list(i) for i in path_tuple]  # Convert back to list of lists for the final output
        })

# Convert results to DataFrame
result_df = pd.DataFrame(results)

# Display the result
result_df.sort_values('totalDistance')

,totalDistance,totalValue,totalDuration,nodeNames,path
375,5226.6,3658.62,10.453,"[[DFW, IAH], [IAH, YYZ], [YYZ, AMS]]","[[DFW, IAH], [IAH, YYZ], [YYZ, AMS]]"
380,5230.4,3661.28,10.461,"[[DFW, IAH], [IAH, IND, YYZ], [YYZ, AMS]]","[[DFW, IAH], [IAH, YYZ], [YYZ, AMS]]"
385,5230.6,3661.42,10.461,"[[DFW, IAH], [IAH, CVG, YYZ], [YYZ, AMS]]","[[DFW, IAH], [IAH, YYZ], [YYZ, AMS]]"
395,5230.7,3661.49,10.461,"[[DFW, IAH], [IAH, CLE, YYZ], [YYZ, AMS]]","[[DFW, IAH], [IAH, YYZ], [YYZ, AMS]]"
390,5230.7,3661.49,10.461,"[[DFW, IAH], [IAH, MEM, CVG, YYZ], [YYZ, AMS]]","[[DFW, IAH], [IAH, YYZ], [YYZ, AMS]]"
...,...,...,...,...,...
99,11200.0,7840.00,22.400,"[[DFW, SGF, ORD, AMS], [AMS, DTW, IND, IAH], [IAH, CLE, YYZ]]","[[DFW, AMS], [AMS, IAH], [IAH, YYZ]]"
124,11200.0,7840.00,22.400,"[[DFW, PIA, ORD, AMS], [AMS, DTW, IND, IAH], [IAH, CLE, YYZ]]","[[DFW, AMS], [AMS, IAH], [IAH, YYZ]]"
123,11200.0,7840.00,22.400,"[[DFW, PIA, ORD, AMS], [AMS, DTW, IND, IAH], [IAH, MEM, CVG, YYZ]]","[[DFW, AMS], [AMS, IAH], [IAH, YYZ]]"
74,11200.0,7840.00,22.400,"[[DFW, XNA, ORD, AMS], [AMS, DTW, IND, IAH], [IAH, CLE, YYZ]]","[[DFW, AMS], [AMS, IAH], [IAH, YYZ]]"
73,11200.0,7840.00,22.400,"[[DFW, XNA, ORD, AMS], [AMS, DTW, IND, IAH], [IAH, MEM, CVG, YYZ]]","[[DFW, AMS], [AMS, IAH], [IAH, YYZ]]"

### Part 5: Adding in Linear Programming

Now I want to maximize revenue as a pilot based on the time I have

In [293]:
from pulp import LpMaximize, LpProblem, LpVariable, lpSum

In [ ]:
hoursAvailable = 15